<nav class="top-bar">
  <!-- <ul class="title-area"> --> 
    <!-- Title Area -->
   <!-- <li class="name">  -->
  <h1><a href="#">Yoga Finder</a></h1>
  <%=image_tag('yoga_icon.png', :width => 30, :class => 'yoga_icon')%>
  <!--  </li>
 </ul> -->
</nav>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    

<div id="searchbox">
    <input type='text' id='areasearch' placeholder='Enter a location'/>
</div>

<div class='yogaevents'>
     <h3>Yoga Events In Your Area</h3>
</div>

<!-- <div id="yogalist">
</div> -->
