// html, body {
//   height: 100%;
//   margin: 0;
// }
// #map{
//   height: 100%;
//   margin: 0;
// }


//   html {
//    height: 100% 
// }
//   body { 
//     height: 100%;
//     margin: 0;
//     padding: 0;
// }
*{
    font-family: Papyrus, fantasy;
}

  #map-canvas { 
    height: 100%;
    width:100%;
 }

 #googlemap{
    height:370px;
    width:600px;
    margin-left:50px;
    margin-top:20px;
    float:left;
 }

 #yogalist{
    width:550px;
    float:left;
    margin:30px;
    font-family: Papyrus, fantasy;
 }

 .yogaevents{
    margin-left:800px;
    margin-top:20px;
    h3{
        font-family: Papyrus, fantasy;
    }
 }

 ul {
    position: relative;
    width: 230px; 
    height: 480px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll; /* must include */
    list-style: none;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
         -o-perspective: 400px;
            perspective: 400px;
}
 